h1#judulpertama {
  color: blue;
  font-family: "Courier New";
  text-align: center;
}

.judulketiga {
  color: salmon;
  font-family: "Courier New";
  text-align: right;
}

/* Fonts Styling */
h1.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-family: nama font, generic family */
  font-size: 45px;
  /* satuan : px, %, em, rem */
  font-weight: normal;
  /* nilai : 100-900 (x100), bold, bolder, lighter, normal */
  font-variant: normal;
  /* nilai : normal, small-caps */
  font-style: italic;
  /* nilai : normal, italic, oblique */
  line-height: 100px;
  /* satuan : px, em, rem */
}

/* Text Styling */
.paragraf {
  color: rgb(82, 61, 179);
  /* nilai : nama warna, hex, rgb */
  text-align: justify;
  /* nilai : left, right, center, justify */
  text-indent: 30px;
  /* satuan : px, %, em, rem */
  text-decoration: none;
  /* nilai : underline, overline, line-through, none */
  text-transform: capitalize;
  /* nilai : none, capitalize, uppercase, lowercase */
  letter-spacing: 2px;
  /* satuan : px */
  word-spacing: 15px;
  /* satuan : px */
}
