<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halaman Web Pertama</title>
</head>

<body>
  <!-- Heading -->
  <h1>Hello World!</h1>
  <h2>Hello World!</h2>
  <h3>Hello World!</h3>
  <h4>Hello World!</h4>
  <h5>Hello World!</h5>
  <h6>Hello World!</h6>

  <!-- Paragraf -->
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis maiores molestias eius hic ullam architecto placeat
    aliquam fugit pariatur explicabo!</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt obcaecati ut animi <b>laboriosam nemo at
      nulla</b>,
    cupiditate,<br>
    atque et ea necessitatibus <i>optio quisquam ab fugiat</i> veniam quidem dicta aliquid <em>accusamus tempora
      vero</em>
    omnis cum! Repellat ex neque, <strong>doloribus ab rem quasi</strong> commodi sequi esse nam suscipit id cumque,
    velit quia.</p>

  <!-- Gambar -->
  <!-- 
    <img src="logo.png" alt="Logo Breakpoint">
    <img src="img/logo.png" alt="Logo Breakpoint"> 
  -->
  <img src="../img/logo.png" alt="Logo Breakpoint" width="100">
  <br>

  <!-- Hyperlink (Anchor) -->
  <a href="http://www.google.com" target="_blank">Link Google</a>
  <a href="../halaman2.html">Lihat halaman kedua</a>
  <br>
  <br>
  <br>

  <!-- Link berbentuk Gambar -->
  <a href="https://breakpoint.id" target="_blank">
    <img src="../img/logo.png" alt="Logo Breakpoint">
  </a>

  <!-- <tag atribut="nilai"></tag> -->

  <!-- Daftar(list) -->
  <!-- 
    Ordered List (ol) -> type="1 / A / a / i / I"
  -->
  <!-- List Item (li) -->
  <ol type="i">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>PHP</li>
    <li>Python</li>
  </ol>
  <!-- 
    Unordered List (ul) -> type="square / disc / circle"
  -->
  <ul type="circle">
    <li>Web Development</li>
    <li>Robotics</li>
    <li>Programming</li>
  </ul>
</body>

</html>