<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Halaman Web Pertama</title>
</head>

<body>
  <!-- Heading -->
  <h1 id="judulpertama">Hello World!</h1>
  <h2>Hello World!</h2>
  <h3>Hello World!</h3>
  <h4>Hello World!</h4>
  <h5>Hello World!</h5>
  <h6>Hello World!</h6>

  <!-- Paragraf -->
  <p class="judulketiga">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis maiores molestias eius hic
    ullam architecto placeat
    aliquam fugit pariatur explicabo!</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt obcaecati ut animi <b>laboriosam nemo at
      nulla</b>,
    cupiditate,<br>
    atque et ea necessitatibus <i>optio quisquam ab fugiat</i> veniam quidem dicta aliquid <em>accusamus tempora
      vero</em>
    omnis cum! Repellat ex neque, <strong>doloribus ab rem quasi</strong> commodi sequi esse nam suscipit id cumque,
    velit quia.</p>

  <!-- Gambar -->
  <!-- 
    <img src="logo.png" alt="Logo Breakpoint">
    <img src="img/logo.png" alt="Logo Breakpoint"> 
  -->
  <img src="../img/logo.png" alt="Logo Breakpoint" width="100">
  <br>

  <!-- Hyperlink (Anchor) -->
  <a href="http://www.google.com" target="_blank">Link Google</a>
  <a href="../halaman2.html">Lihat halaman kedua</a>
  <br>
  <br>
  <br>

  <!-- Link berbentuk Gambar -->
  <a href="https://breakpoint.id" target="_blank">
    <img src="../img/logo.png" alt="Logo Breakpoint">
  </a>

  <!-- <tag atribut="nilai"></tag> -->

  <!-- Daftar(list) -->
  <!-- 
    Ordered List (ol) -> type="1 / A / a / i / I"
  -->
  <!-- List Item (li) -->
  <ol type="i">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>PHP</li>
    <li>Python</li>
  </ol>
  <!-- 
    Unordered List (ul) -> type="square / disc / circle"
  -->
  <ul type="circle">
    <li>Web Development</li>
    <li>Robotics</li>
    <li>Programming</li>
  </ul>

  <!-- Tabel -->
  <table border="1" cellspacing="10" cellpadding="20">
    <!-- Table Row (tr) -> Vertikal -> Baris Baru -->
    <tr>
      <!-- Table Data (td) -> Horizontal -> Kolom Baru -->
      <td>Baris 1 Kolom 1</td>
      <td>Baris 1 Kolom 2</td>
    </tr>
    <tr>
      <td>Baris 2 Kolom 1</td>
      <td>Baris 2 Kolom 2</td>
    </tr>
  </table>

  <!-- Tabel yang Kompleks -->
  <table border="1" cellspacing="10" cellpadding="20">
    <!-- Table Head -->
    <thead>
      <tr>
        <!-- Table Heading -->
        <th></th>
        <th>Judul 1</th>
        <th>Judul 2</th>
        <th>Judul 3</th>
        <th>Judul 4</th>
      </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      <tr>
        <th>Judul Samping</th>
        <td rowspan="2">Data 1</td>
        <td colspan="2">Data 2</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <th>Judul Samping</th>

        <td colspan="2">Data 2</td>
        <td>Data 4</td>
      </tr>
    </tbody>

    <!-- Table Foot -->
    <tfoot>
      <tr>
        <!-- Table Heading -->
        <th></th>
        <th>Judul 1</th>
        <th>Judul 2</th>
        <th>Judul 3</th>
        <th>Judul 4</th>
      </tr>
    </tfoot>
  </table>
</body>

</html>